<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div>
                <div>
                    <h3>Display Name: {{displayName}}</h3></div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="addon1" class="form-control">
                        <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Update</button>
    </span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Email:  {{email}}</h3></div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="addon1" class="form-control">
                        <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Update</button>
    </span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Favorite Color:  {{color}}</h3></div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="addon1" class="form-control">
                        <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Update</button>
    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-11 col-sm-1">
            <a href "#" class="btn btn-raised btn-default">Logout</a></div>
    </div>
</div>

<script type="text/javascript">
$.material.init()
</script>
